.container{
    min-height: 500px;
}
.h-100px{
    height: 100px;
}
.h-400px{
    min-height: 400px;
}
.h-600px{
    height: 600px;
}
.row{
    height: 100%;
}
#about-me{
    height: 600px;
}
#address, #contact-me{
    height: 400px;
}
.container-sm  .col-12{
    height: 300px;
    border: 1px dashed grey;
    border-radius: 20px;
}
#about-me .col-8{
    height: 100%;
    border: 1px dashed yellowgreen;
}
#contact-me .col-8{
    height: 100%;
    border: 1px dashed red;
}
#address .col-10{
    height: 120px;
    border: 1px dashed red;
}
.col{
    min-height: 50px;
    border: 1px dashed red;
}
#presentation{
    min-height: 400px;
}

/* Color */
.header-color{
    background-color: #2c3e50;
}
.presentation-color, .about-me-color{
    background-color: #1abc9c;
}
.pro-pink{
    background-color: #ba4b63;
}
.pro-light-blue{
    background-color: #1ea4b6;
}
.pro-heavenly{
    background-color: #1c83c1;
}
.pro-blue{
    background-color: #0e38b5;
}
.pro-grey{
    background-color: #ccb2a3;
}
.address-color{  
background-color: #3a546d;
}
.footer-color{
    background-color: #2c3e50;
}
